/*Start Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    /*background: url("images/..") no-repeat center fixed;
    background-size: cover;*/
}

@font-face {
    font-family: 'Roboto'; 
    src: url('Roboto-Regular.ttf')  format("truetype"),
         url('Roboto-Medium.ttf')  format("truetype"),
         url('Roboto-Bold.ttf')  format("truetype");
}

@font-face {
    font-family: 'B612'; 
    src: url('B612-Regular.ttf')  format("truetype"),
         url('B612-Bold.ttf') format("truetype"),
         url('B612-Italic.ttf') format("truetype");
}

section {
    padding: 5rem 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 460px;
    height: 350px;
}

ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

li {
    display: inline-block;
}

p {
    margin: 0 0 .5rem;
}
/*End Global*/

/*Start Reusable*/
.section-heading {
    text-align: center;
    margin-bottom: 5rem;
}

.section-heading h1 {
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
    bottom: -1rem;
}

.carousel-heading {
    text-align: center;
    margin-bottom: 5rem;
}

.carousel-heading h1 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: -3rem;
}

/*.services-items {
    margin-right: 110px;
}*/
/*End Reusable*/

/*Start Header*/
header {
    width: 100%;
    height: 100vh;
}

.header-img {
    background-image: url(images/sitebg1.jpg);
    background-size: cover;
    height: 100%;
}

.navigation {
    width: 100%;
    z-index: 300;
    margin: 0 auto;
    background-color: #2F2E33;
    position: fixed;
    top: 0px;
}

.navigation li {
    float: left;
    list-style-type: none;
    width: 16.6%;
    text-align: center;
}

.navigation a {
    display: block;
    font-family: 'B612', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.navigation a:hover {
    color: #5386e4;
    border-bottom: 2px solid #5386e4 ;
    transition: .4s;
}

.nav-link {
    /*font-family: ;*/
    font-size: 1rem;
    padding: 1rem;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.header-text h1 {
    font-family: 'B612', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    /*font-family: 'Demonized', sans-serif;*/
}

.header-text h6 {
    font-family: 'B612', sans-serif;
    text-transform: uppercase;
    margin-top: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
}

.numero-tel{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    background-color: #221e3f;
    margin: 0 auto;
    margin-top: 20px;
    width: 235px;
    border-radius: 10px;
    padding: 14px 45px 14px 45px;
    cursor: pointer;
}

.numero-tel:hover{
    background-color: rgba(56,182,255,0.56);
    color: #221e3f;
    transition: background-color 650ms;
}

.depannage-block {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    height: 300px;
    width: 300px;
    top: -40px;
    bottom: 20px;
    right: 20px;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #FFF;
    border-radius: 5px;
    opacity: 0.8;
  }

.depannage-block p {
    color: black;
}

.depannage-block h2 {
    color: black;
    padding-top: 20px;
}

.depannage-block h4 {
    color: #5386e4;
}

.entretien-block {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    height: 300px;
    width: 300px;
    top: -50px;
    bottom: 20px;
    left: 20px;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #FFF;
    border-radius: 5px;
    opacity: 0.8;
  }

.entretien-block p {
    color: black;
}

.entretien-block h2 {
    color: black;
    padding-top: 20px;
}

p.text-pop {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    width: 10em
}
/*End Header*/

/*Start Plomberie*/
.plomberie{
    background-color: #dffdff;
}

.plomberie .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plomberie-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 4rem;
}

.plomberie-heading h1 {
    font-family: 'B612', sans-serif;
    color: #090c9b;
    font-size: 3rem;
    /*opacity: .3;*/
}

/*#plomberie-bloc {
    width: 250px;
    height: 500px;
    margin-left: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: #FFF;
    flex: 1;
    margin-right: 5rem;
}*/

.box1 > img {
    width: 671px;
    height: 500px;
}

.plomberie-details {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-right: 3%;
    margin-left: 3%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    flex: 1;
}

a.button1 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color: #3A5199;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: rgba(56,182,255,0.56);
}
/*End Plomberie*/

/*Start Douche*/
.salledebain{
    background-color: #dffdff;
}

.salledebain .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.salledebain-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 4rem;
}

.salledebain-heading h1 {
    font-family: 'B612', sans-serif;
    color: #090c9b;
    font-size: 3rem;
    /*opacity: .3;*/
}

#salledebain-bloc {
    /*width: 250px;
    height: 500px;*/
    margin-left: 50px;
    text-align: center;
    /*background-color: #3A5199;*/
    flex: 1;
    margin-right: 5rem;
}

.box2 > img {
    width: 671px;
    height: 500px;
}

.salledebain-details {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-right: 3%;
    margin-left: 3%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    flex: 1;
}

a.button2 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color: #3A5199;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a.button2:hover {
    color: #000000;
    background-color: rgba(56,182,255,0.56);
}
/* End Douche */

/*Start Bain*/
.bain{
    background-color: #dffdff;
}

.bain .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bain-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 4rem;
}

.bain-heading h1 {
    font-family: 'B612', sans-serif;
    color: #090c9b;
    font-size: 3rem;
    /*opacity: .3;*/
}

/*#bain-bloc {
    width: 250px;
    height: 500px;
    margin-left: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: #FFF;
    flex: 1;
    margin-right: 5rem;
}*/

.box3 > img {
    width: 671px;
    height: 500px;
}

.bain-details {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
    line-height: 1.5rem;
    font-size: 1.3rem;
    flex: 1;
}

a.button3 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color: #3A5199;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a.button3:hover {
    color: #000000;
    background-color: rgba(56,182,255,0.56);
}
/*End Bain*/

/*Start Realisations*/
img {
    height: auto;
    margin-bottom: .5rem;
    padding-right: 2rem;
    border-radius: 3px;
    max-width: calc(100% + 2rem);
    position: static;
    left: -1rem;
    right: -1rem;
}

.carousel-wrapper {
    height:450px;
    position:relative;
    width:800px;
    margin:0 auto;
}

.carousel-item {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border-radius: 5%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}

.arrow-next {
    right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}

.light {
    color:white;
}

/*Selectionne tous les éléments*/
[id^="item"] {
    display: none;
}
  
.item-1 {
    z-index: 2;
    opacity: 1;
    background:url('images/ex1.jpg');
    background-size: cover;
}

.item-2 {
    background:url('images/ex2.jpg');
    background-size:cover;
}

.item-3 {
    background:url('images/sitebg1.jpg');
    background-size:cover;
}
  
*:target ~ .item-1 {
    opacity: 0;
}
  
#item-1:target ~ .item-1 {
    opacity: 1;
}
  
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.carousel-item h2{
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.carousel-item p{
    font-family: 'B612', sans-serif;
    color: #000000;
}
/*End Realisations*/

/*Start Contact*/
.trademark {
    width: 100px;
}

.contact {
    padding: 2.5rem 0;
    font-family: 'Roboto', sans-serif;
    background-color: #D5D6D2;
}

form {
    width: 70%;
    margin: 0 auto;
}

form label {
    font-size: 1rem;
    font-family: 'B612', sans-serif;
}

input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline-color: #fd57bf;
}

input[type="submit"]{
    width: initial;
    background-color: #3A5199;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover {
    color: #221e3f;
    background-color: rgba(56,182,255,0.56);
}

.success {
    color: #dc0073;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
}

.error {
    color: red;
}
/*End Contact*/

/*Start Footer*/
.copyright {
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 2rem 0;
    position: relative;
}

.copyright p {
    font-family: 'Roboto', sans-serif;
    padding-top: -3rem;
    color: white;
    font-size: 1rem;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.social-media {
    margin-top: 0.3rem;
}

.social-media i {
    font-size: 3rem;
    padding-left: 0.5rem;
    transition: color 650ms;
}

.fa-envelope-square:hover {
    color: #89bbfe;
}

.fa-facebook-square:hover {
    color: blue;
}

.fa-google-plus-square:hover {
    color: #d8572a;
}

/*#map {
    padding-bottom: 1rem;
}*/

.footer-contact {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.3rem;
    list-style: none;
}

.footer-contact h3 {
    color: white;
    margin-bottom: 0.5rem;
}

.footer-contact li {
    color: white;
    margin-bottom: 0.5rem;
}
/*End Footer*/


/*.container {
    position: relative;
  }*/


/*Start Media Queries*/
@media only screen and (max-width: 750px) {
    /*Reusable*/
    ul {
        margin: 0rem;
        padding: 0;
    }

    .services-items {
        margin-right: 0px;
    }

    .trademark {
        margin-left: 44rem;
        width: 100px;
    }
    
    /*Navigation Menu*/
    .navigation {
        display: none;
    }

    /*Header Bloc*/
    .depannage-block {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        height: 216px;
        width: 300px;
        top: -220px;
        bottom: 20px;
        right: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: #FFF;
        border-radius: 5px;
        opacity: 0.8;
    }

    .entretien-block {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        height: 216px;
        width: 300px;
        top: 220px;
        bottom: 20px;
        left: 20px;
        margin-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: #FFF;
        border-radius: 5px;
        opacity: 0.8;
      }

    /*Toutes les sections*/    
    .plomberie-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 4rem;
    }
    
    .plomberie-heading h1 {
        font-family: 'B612', sans-serif;
        color: #090c9b;
        font-size: 2rem;
        /*opacity: .3;*/
    }

    .plomberie-details {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-right: 3%;
        margin-left: 3%;
        line-height: 1.5rem;
        font-size: 1.2rem;
        flex: 1;
    }

    .box1 > img { 
        /*height: 400px;
        width: 300px;*/
        display: none;
    }

    h3 {
        font-size: 1.2rem;
    }


    .salledebain-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 4rem;
    }
    
    .salledebain-heading h1 {
        font-family: 'B612', sans-serif;
        color: #090c9b;
        font-size: 2rem;
        /*opacity: .3;*/
    }

    .salledebain-details {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-right: 3%;
        margin-left: 3%;
        line-height: 1.5rem;
        font-size: 1.2rem;
        flex: 1;
    }

    #salledebain-bloc {
        /*width: 250px;
        height: 500px;*/
        margin-left: -350px;
        /*background-color: #3A5199;*/
        margin-right: 0rem;
    }
    
    .box2 > img {
        /*height: 400px;
        width: 300px;*/
        display: none;
    }


    .bain-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 4rem;
    }
    
    .bain-heading h1 {
        font-family: 'B612', sans-serif;
        color: #090c9b;
        font-size: 2rem;
        /*opacity: .3;*/
    }

    .bain-details {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-left: 3%;
        margin-right: 3%;
        line-height: 1.5rem;
        font-size: 1.2rem;
        flex: 1;
    }

    .box3 > img {
        /*height: 400px;
        width: 300px;*/
        display: none;
    }


    /*Réalisations*/
    .carousel-heading h1 {
        font-size: 1.5rem;
        color: black;
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        margin-bottom: -3rem;
    }

    .carousel-wrapper {
        height:350px;
        position:relative;
        width:290px;
        margin:0 auto;
    }

    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }

    /*Contact Form Text*/
    .section-heading h1 {
        font-size: 1.5rem;
        color: black;
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        margin-bottom: 1rem;
    }

    .section-heading h6 {
        font-size: 1.2rem;
        font-weight: 300;
        bottom: -1rem;
    }
}
/*End Media Queries*/
